.auth_form {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0);
}

.auth_form_div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 30px;
  background-color: rgb(71, 71, 71);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.auth_errors {
  background-color: rgb(71, 71, 71);
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
}

.auth_error {
  color: red;
  background-color: rgb(71, 71, 71);
}

.auth_div {
  width: 300px;
  background-color: rgb(71, 71, 71);
}

.auth_label {
  width: 300px;
  background-color: rgb(71, 71, 71);
}

.auth_span {
  font-size: 10px;
  position: relative;
  left: 5px;
  top: 22px;
  color: rgb(0, 0, 0, 0.75);
  background-color: rgb(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;
}

.auth_input {
  width: 185px;
  border-radius: 5px;
  border-style: none;
  color: black;
  box-sizing: border-box;
}

input[type="text"] {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  width: 300px;
  background-color: white;
}

input[type="password"] {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  width: 300px;
  background-color: white;
}

.auth_button_div {
  background-color: rgb(0, 0, 0, 0);
}

.auth_button {
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  background-color: rgb(47, 41, 49);
  margin: 0px 6px;
  border-radius: 5px;
  transition: 0.3s;
}

.auth_button:hover {
  transform: scale(1.15);
  background-color: rgb(16.4, 72.8, 25.9);
  box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.5);
}

.auth_submit {
  margin-top: 15px;
  font-size: 18px;
}

.auth_logout {
  display: flex;
  padding-right: 10%;
  margin: 0px;
  align-items: center;
  height: 48px;
  margin-top: 23px;
  background-color: rgb(79, 78, 80);
  border: 0px;
  border-radius: 5px;
  border-color: rgb(8, 36, 13);
  transition: 0.3s;
}

.auth_logout_username {
  background-color: rgb(79, 78, 80);
  padding-right: 10px;
}

.error_border {
  border: 3px solid red;
}

.auth_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0);
}

.auth_logo {
  position: relative;
  height: 200px;
  width: 600px;
  align-self: center;
  margin-top: 50px;
  border-radius: 90px;
}

.background {
  position: fixed;
  top: -500px;
  width: 2560px;
  height: 2440px;
  z-index: -999;
}

.splash_summary {
  background-color: rgb(71, 71, 71);
  position: relative;
  top: 60px;
  font-size: 20px;
  width: 40%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.splash_links {
  position: absolute;
  bottom: 0px;
  background-color: rgb(0, 0, 0, 0);
}

.icon {
  font-size: 80px;
  margin: 50px 30px;
  background-color: rgb(0, 0, 0, 0);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
}

.icon:hover {
  transform: scale(1.15);
  box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.5);
}

.fa-github-square {
  color: #6cc644;
}

.fa-linkedin {
  color: #8d6cab;
}
