.auth_form {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_form_div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  font-size: 30px;
  background-color: rgb(71, 71, 71);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.auth_errors {
  background-color: rgb(71, 71, 71);
  margin-top: 20px;
  padding: 10px;
  font-size: 25px;
}

.auth_error {
  color: red;
  background-color: rgb(71, 71, 71);
}

.error_border {
  border: 3px solid red;
}

.auth_div {
  width: 300px;
  background-color: rgb(71, 71, 71);
}

.auth_label {
  width: 300px;
  background-color: rgb(71, 71, 71);
}

.auth_span {
  font-size: 10px;
  position: relative;
  left: 5px;
  top: 22px;
  color: rgb(0, 0, 0, 0.75);
  background-color: rgb(0, 0, 0, 0);
  font-size: 15px;
  width: 100px;
}

.auth_input {
  width: 185px;
  border-radius: 5px;
  border-style: none;
  color: black;
  box-sizing: border-box;
}

input[type="text"] {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  width: 300px;
  background-color: white;
}

input[type="password"] {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  width: 300px;
  background-color: white;
}

.auth_button_div {
  background-color: rgb(0, 0, 0, 0);
}

.auth_button {
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  background-color: rgb(47, 41, 49);
  margin: 0px 6px;
  border-radius: 5px;
  transition: 0.3s;
}

.auth_button:hover {
  transform: scale(1.15);
  background-color: rgb(70, 0, 161);
  box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.5);
}

.auth_submit {
  margin-top: 15px;
  font-size: 18px;
}
