.game {
  position: relative;
  margin-top: 120px;
  margin-left: 1%;
  border: 5px solid black;
  background-color: rgb(90, 79, 94);
  display: flex;
  width: 98%;
  font-size: 20px;
}

.game_cover {
  position: relative;
  margin: 20px;
  border: 5px solid black;
  width: 264px;
  height: 352px;
}

.game_table {
  background-color: rgb(90, 79, 94);
}

.game_title {
  font-size: 30px;
  position: relative;
  background-color: rgb(90, 79, 94);
  margin-left: 350px;
  margin-top: 20px;
}

.game_library {
  font-size: 20px;
  position: relative;
  background-color: rgb(90, 79, 94);
}

.game_library_button {
  font-size: 20px;
  position: relative;
  height: 30px;
  background-color: rgb(47, 41, 49);
}

.game_date {
  background-color: rgb(90, 79, 94);
  position: relative;
  margin-left: 350px;
  margin-top: 10px;
}

.game_genre {
  background-color: rgb(90, 79, 94);
  position: relative;
  margin-left: 350px;
  margin-top: 10px;
}

.game_platforms {
  background-color: rgb(90, 79, 94);
  position: relative;
  margin-left: 350px;
  margin-top: 10px;
}

.game_storyline {
  background-color: rgb(90, 79, 94);
  position: relative;
  margin-left: 350px;
  margin-top: 10px;
}

.game_summary {
  background-color: rgb(90, 79, 94);
  position: relative;
  margin-left: 350px;
  margin-top: 20px;
}

.game_review {
  position: relative;
  top: 100px;
  left: 50%;
  float: left;
}

.game_review_container {
  position: relative;
  left: -50%;
  float: left;
  display: flex;
  flex-direction: column;
}

.library-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0);
  height: 150px;
  width: 500px;
  margin: 0px;
}

.library-modal__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 0.5);
}
