.game {
  position: absolute;
  margin-top: 100px;
  border: 5px solid black;
  background-color: rgb(90, 79, 94);
  display: flex;
  width: 98%;
  font-size: 20px;
}

.game_cover {
  margin: 20px;
  border: 5px solid black;
}

.game_title {
  font-size: 30px;
  position: absolute;
  background-color: rgb(90, 79, 94);
  left: 350px;
  top: 20px;
}

.game_library_button {
  font-size: 20px;
  position: absolute;
  height: 30px;
  background-color: rgb(47, 41, 49);
  left: 350px;
  top: 60px;
}

.game_date {
  background-color: rgb(90, 79, 94);
  position: absolute;
  left: 350px;
  top: 100px;
}

.game_genre {
  background-color: rgb(90, 79, 94);
  position: absolute;
  left: 350px;
  top: 130px;
}

.game_platforms {
  background-color: rgb(90, 79, 94);
  position: absolute;
  left: 350px;
  top: 160px;
}

.game_storyline {
  background-color: rgb(90, 79, 94);
  position: absolute;
  left: 350px;
  top: 190px;
}

.game_summary {
  background-color: rgb(90, 79, 94);
  position: absolute;
  left: 350px;
  top: 280px;
}

.game_review {
  position: relative;
  top: 550px;
  left: 50%;
  float: left;
}

.game_review_container {
  position: relative;
  left: -50%;
  float: left;
  display: flex;
  flex-direction: column;
}
