.edit_form {
  border: 5px solid black;
  padding: 5px;
  background-color: rgb(90, 79, 94);
}

.edit_rating {
  background-color: rgb(90, 79, 94);
}

.edit_rating_label {
  background-color: rgb(90, 79, 94);
  font-size: 18px;
  margin: 3px;
}

.edit_text {
  background-color: rgb(90, 79, 94);
}

.edit_text_input {
  width: 99%;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: black;
}

.edit_rating_input {
  background-color: rgb(47, 41, 49);
  margin: 3px;
  cursor: pointer;
}

.edit_submit {
  background-color: rgb(47, 41, 49);
  margin: 3px;
  cursor: pointer;
}

.error_edit {
  color: red;
  background-color: rgb(90, 79, 94);
  font-size: 18px;
  text-align: center;
}
